* {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: "Source Sans 3";
  scroll-behavior: smooth;
}

main {
  background-color: #f8f9fa;
}

h1 {
  text-align: center;
  padding: 10px 0 0 0;
  font-size: 2.5em;
}

img {
  display: block;
  width: 70%;
  max-width: 100%;
  height: auto%;
  margin-left: auto;
  margin-right: auto;
}

figcaption {
  width: 70%;
  padding-top: 10px;
}

li {
  padding: 15px 0px;
}

ul p,
li {
  text-align: left;
}

.bold,
.inline {
  font-weight: bold;
  display: inline;
}

#content {
  background-color: #e9ecef;
  padding: 10px;
  margin: 0px 35px;
}

#info {
  width: 35%;
  font-size: 16px;
}

#header p {
  margin-top: -5px;
  font-size: 1.25em;
}

#top-button {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
  margin: 25px 50px;
  background-color: black;
  color: white;
  text-decoration: none;
}

#top-button:hover {
  background-color: unset;
  color: black;
}

.left {
  text-align: left;
}