* {
  text-align: center;
}

h1 {
  text-align: center;
}

img {
  display: block;
  width: 70%;
  max-width: 100%;
  height: auto%;
  margin-left: auto;
  margin-right: auto;
}

figcaption {
  font-size: 12px;
}

li {
  padding-bottom: 15px;
}

ul p, li {
  text-align: left;
}

.bold, .inline {
  font-weight: bold;
  display: inline;
}